:root {
	--text-height: 32px;
}

html, body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.m-t-5{margin-top: 5px}
.m-b-5{margin-bottom: 5px}
.m-l-5{margin-left: 5px}
.m-r-5{margin-right: 5px}

.visible-hidden {
	visibility: hidden;
}